* {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.required:after {
    content: " *";
    color: red;
}

body {
    background-image: linear-gradient(to right, #00ffe05e , #ffff00a8);
}
input
{
    background: transparent;
    /*border: none;*/
}

.form-control {
    background-color: #ffffff63 !important;
}

.btn-primary {
    color: #fff;
    background-color: #28a745ed !important;
    border-color: #28a745ed !important;
}

td {
    margin: 10px !important;
}

h3 {
    margin: 20px !important;
}